<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/páginas/styles-productCart.css">
  
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/header.ejs')%>
    <div class="columna-central">
<div class="marco">
    <div class="productoCarrito">
      <div class="arriba">
        <div class="imagenProducto">
          <img
            class="imagenAuto"
            src="/img/PNG/Marcas/Ferrari/LaFerrari/LaFerrari.png"
            alt="producto"
          />
        </div>
        <div class="casillaDatos">
          <div class="casillaNombre">
            <div class="imagenNombre"></div>
            <div class="nombreMarca">
              <p class="nombreProducto">Ferrari - LaFerrari</p>
            </div>
          </div>
          <!-- <div class="detallesProducto">
          <p class="descripcion">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
            eveniet sapiente possimus
          </p>
        </div> -->
          <div class="ingreso">
          <div class="numeros">
            <div class="cantidadProducto">
              <p class="p-cantidad">Cantidad</p>
              <div class="combobox">
                <select name="select" id="select">
                  <option value="value1" selected>1</option>
                  <option value="value2">2</option>
                  <option value="value3">3</option>
                </select>
              </div>
            </div>
            <div class="valorProducto">
              <p class="valorPrecio">$75.000</p>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="abajo">
        <input class="botons-registro" type="submit" value="Eliminar" />
        <input class="botons-registro" type="submit" value="Comprar" />
      </div>
    </div>
  </div>
<!-- -------------------------------------------------- -->
<div class="marco">
<div class="productoCarrito">
  <div class="arriba">
    <div class="imagenProducto">
      <img
        class="imagenAuto"
        src="/img/PNG/Marcas/Ferrari/LaFerrari/LaFerrari.png"
        alt="producto"
      />
    </div>
    <div class="casillaDatos">
      <div class="casillaNombre">
        <div class="imagenNombre"></div>
        <div class="nombreMarca">
          <p class="nombreProducto">Ferrari - LaFerrari</p>
        </div>
      </div>
      <!-- <div class="detallesProducto">
      <p class="descripcion">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
        eveniet sapiente possimus
      </p>
    </div> -->
      <div class="ingreso">
      <div class="numeros">
        <div class="cantidadProducto">
          <p class="p-cantidad">Cantidad</p>
          <div class="combobox">
            <select name="select" id="select">
              <option value="value1" selected>1</option>
              <option value="value2">2</option>
              <option value="value3">3</option>
            </select>
          </div>
        </div>
        <div class="valorProducto">
          <p class="valorPrecio">$75.000</p>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="abajo">
    <input class="botons-registro" type="submit" value="Eliminar" />
    <input class="botons-registro" type="submit" value="Comprar" />
  </div>
</div>
</div>
<!-- -------------------------------------------------- -->
<div class="marco">
<div class="productoCarrito">
  <div class="arriba">
    <div class="imagenProducto">
      <img
        class="imagenAuto"
        src="/img/PNG/Marcas/Ferrari/LaFerrari/LaFerrari.png"
        alt="producto"
      />
    </div>
    <div class="casillaDatos">
      <div class="casillaNombre">
        <div class="imagenNombre"></div>
        <div class="nombreMarca">
          <p class="nombreProducto">Ferrari - LaFerrari</p>
        </div>
      </div>
      <!-- <div class="detallesProducto">
      <p class="descripcion">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
        eveniet sapiente possimus
      </p>
    </div> -->
      <div class="ingreso">
      <div class="numeros">
        <div class="cantidadProducto">
          <p class="p-cantidad">Cantidad</p>
          <div class="combobox">
            <select name="select" id="select">
              <option value="value1" selected>1</option>
              <option value="value2">2</option>
              <option value="value3">3</option>
            </select>
          </div>
        </div>
        <div class="valorProducto">
          <p class="valorPrecio">$75.000</p>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="abajo">
    <input class="botons-registro" type="submit" value="Eliminar" />
    <input class="botons-registro" type="submit" value="Comprar" />
  </div>
</div>
</div>
<!-- -------------------------------------------------- -->
<div class="marco">
<div class="productoCarrito">
<div class="arriba">
<div class="imagenProducto">
  <img
    class="imagenAuto"
    src="/img/PNG/Marcas/Ferrari/LaFerrari/LaFerrari.png"
    alt="producto"
  />
</div>
<div class="casillaDatos">
  <div class="casillaNombre">
    <div class="imagenNombre"></div>
    <div class="nombreMarca">
      <p class="nombreProducto">Ferrari - LaFerrari</p>
    </div>
  </div>
  <!-- <div class="detallesProducto">
  <p class="descripcion">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
    eveniet sapiente possimus
  </p>
</div> -->
  <div class="ingreso">
  <div class="numeros">
    <div class="cantidadProducto">
      <p class="p-cantidad">Cantidad</p>
      <div class="combobox">
        <select name="select" id="select">
          <option value="value1" selected>1</option>
          <option value="value2">2</option>
          <option value="value3">3</option>
        </select>
      </div>
    </div>
    <div class="valorProducto">
      <p class="valorPrecio">$75.000</p>
    </div>
  </div>
  </div>
</div>
</div>
<div class="abajo">
<input class="botons-registro" type="submit" value="Eliminar" />
<input class="botons-registro" type="submit" value="Comprar" />
</div>
</div>
</div>
<!-- -------------------------------------------------- -->

<!-- -------------------------------------------------- -->
    <div class="resumenCompra">
      <div>
        <input class="botonCompra" type="submit" value="COMPRAR">
      </div>
      <div class="objeto">
        <div class="objetoNumero">
          <p>Objetos(1)</p>
        </div>
        <div class="resumenPrecio">
          <p>$75.000</p>
        </div>
      </div>
      <hr />
      <div class="resumenTotal">
        <div class="totalParcial">
          <p>Total parcial</p>
        </div>
        <div class="numeroTotal">
          <p>$75.000</p>
        </div>
      </div>
    </div>
  </div>
  </body>

</html>
