<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/páginas/styles_catalogo.css">
  <%- include('../partials/head.ejs')%>
    <title>Catálogo</title>
<body>
  <%- include('../partials/header.ejs')%>
        <section class="banner">
            <img src="/img/vehiculo/banner.jpg" alt="Banner de ofertas">
            <div class="button">
              Todos los modelos
              <i class="fas fa-angle-double-down"></i>
            </div>
        </section>
        <main>
            <section class="catalogue">
              <section class="view-car">
                <h3>Hatchback</h3>
                <div class="products">
                    <article>
                        <img src="/img/vehiculo/Hatchback.jpg" alt="Clase A">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">Hatchback Clase A</h4>
                        </div>
                    </article>
                    <article>
                      <img src="/img/vehiculo/Hatchback02.jpg" alt="Clase B">
                      <div class="main-article">
                        <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                        <h4 class="description">Hatchback Clase B</h4>
                      </div>
                    </article>
                    <article>
                      <img src="/img/vehiculo/Hatchback01.jpg" alt="Clase C">
                      <div class="main-article">
                        <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                        <h4 class="description">Hatchback Clase C</h4>
                      </div>
                    </article>
                    <article>
                      <img src="/img/vehiculo/Hatchback03.jpg" alt="Clase D">
                      <div class="main-article">
                        <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                        <h4 class="description">Hatchback Clase D</h4>
                      </div>
                    </article>
                </div>
            </section>
            <section>
                <h3>Sedán</h3>
                <div class="products">
                    <article>
                        <img src="/img/vehiculo/Sedan01.jpg" alt="Clase E">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                            <h4 class="description">Sedán Clase E</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/img/vehiculo/Sedan02.jpg" alt="Clase F">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                            <h4 class="description">Sedán Clase F</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/img/vehiculo/Sedan03.jpg" alt="Clase G">
                        <div class="main-article">
                          <a href="/Especificaciones" class="img-pos"><i class="fas fa-car"></i></a>
                        <h4 class="description">Sedán Clase G</h4>
                        </div>
                    </article>
                  </div>  
              </section>
              <section>
                <section>
                  <h3>Coupés</h3>
                  <div class="products">
                      <article>
                          <img src="/img/vehiculo/coupes 2021.jpg" alt="Clase H">
                          <div class="main-article">
                            <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                            <h4 class="description">Coupés Clase H</h4>
                          </div>
                      </article>
                      <article>
                        <img src="/img/vehiculo/coupes01.jpg" alt="Clase I">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">Coupés Clase I</h4>
                        </div>
                      </article>
                      <article>
                        <img src="/img/vehiculo/coupes02.jpg" alt="Clase J">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">Coupés Clase J</h4>
                        </div>
                      </article>
                      <article>
                        <img src="/img/vehiculo/coupes03.jpg" alt="Clase K">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">Coupés Clase K</h4>
                        </div>
                      </article>
                  </div>
              </section>
              <section>
                <section>
                  <h3>SUV</h3>
                  <div class="products">
                      <article>
                          <img src="/img/vehiculo/suv01.jpg" alt="Clase M">
                          <div class="main-article">
                            <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                            <h4 class="description">SUV Clase M</h4>
                          </div>
                      </article>
                      <article>
                        <img src="/img/vehiculo/suv02.jpg" alt="Clase N">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">SUV Clase N</h4>
                        </div>
                      </article>
                      <article>
                        <img src="/img/vehiculo/suv03.jpg" alt="Clase Z">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">SUV Clase Z</h4>
                        </div>
                      </article>
                  </div>
              </section>
        </main>

        <footer>
          
        </footer>
        
    </body>
</html>