*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Forum', cursive;
    font-size: 22px;
    background-color: whitesmoke;
}

h3{
    font-size: 24px;
    border-bottom: solid 3px #b6b6b6;
}

p{
    font-size: 12px;
}

div.catalogue,
div.view-car{
    display: flex;
    flex-wrap: wrap;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}



main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i{
    color: #191a19;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #222422;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 5px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
    padding: 30px;
    justify-content: center;
}

.button{
    background-color: rgb(17, 17, 17);
    color: rgb(241, 238, 238);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}




