* {
    margin: 0;
    padding: 0;
    font-family: "Saira";
  }
  
  /* ---------------------  FUENTES  ------------------------- */
  
  @font-face {
    font-family: "Saira-Black";
    src: url("/fonts/Saira/Saira-Black.ttf");
  }
  
  @font-face {
    font-family: "Saira-ExtraBold";
    src: url("/fonts/Saira/Saira-Black.ttf");
  }
  
  @font-face {
    font-family: "Saira-Regular";
    src: url("/fonts/Saira/Saira-Black.ttf");
  }
  
  @font-face {
    font-family: "Saira-Medium";
    src: url("/fonts/Saira/Saira-Medium.ttf");
  }
  
  @font-face {
    font-family: "Saira-Thin";
    src: url("/fonts/Saira/Saira-Thin.ttf");
  }
  .text-danger{
    color: red;
  }
  /* ----------------------------------------------------------- */
  @media (min-width: 320px) {
  
    .registro {
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .cabecera{
      width: 100%;
      height: 30vh;
      background-color: rgb(21, 155,216);
      display: flex;
      padding: 30px 0 0 0;
    }
    
      .logo {
      width: 35%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      display: block;
    } 
  
    .form-register {
      width: 90vw;
      height: 70%;
      margin-top: 5%;
      background: #fff;
      font-family: "Saira-ExtraBold";
      color: #000;
    }
  
    .form-register h4 {
      font-family: "Saira-Medium";
      font-size: 25px;
      color: #0c1f48;
    }
  
    .controls {
      width: 100%;
      background: #fff;
      margin: 10px 0;
      border: 0;
      border-bottom: 1.5px solid #1f53c5;
      font-family: "calibri";
      font-size: 20px;
      color: #000;
    }
  
    .form-register a {
      /* color: white; */
      text-decoration: none;
      font-size: 15px;
    }
  
    .form-register a:hover {
      color: white;
      text-decoration: underline;
    }
  
    .form-register .botons-registro {
      width: 98%;
      background: #1f53c5;
      border: none;
      border-radius: 5px;
      padding: 1%;
      color: white;
      margin: 10px 0 0 0;
      font-family: "Saira-Medium";
      font-size: 23px;
      transition: all 0.3s;
    }
    .form-register .botons-registro:hover{
      background-color: rgb(182, 182, 182);
      color: black;
    }
  
    .botonesRS{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    }
  
    .espacio{
  width: 98%;
  height: 25px;
  display: flex;
    }
  
  #olvContrasenia{
  color: #1f53c5;
  font-family: "Saira-Medium";
  font-size: 13px;
  margin: 3px 0;
  width: 100%;
  text-align: end;
  
    }
  
   .botRegistro-Facebook{
    width: 45%;
    background: #1f53c5;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin: 10px 0 0 0;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .botRegistro-Google{
    width: 45%;
    background: #fff;
    border: 1px #1f53c5 solid;
    border-radius: 5px;
    padding: 5px;
    color: #1f53c5;
    margin: 10px 0 0 0;
    font-family: "Saira-Medium";
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .fuente-google{
    color: #1f53c5;
  }
  
  
  .logoRS{
    height: 20px;
  }
  
  .termino{
    margin-top: 5px;
    font-size: 10px;
  }
  
  }
  
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  /* ----------------------------------------------------------------------- */
  
  @media (min-width: 700px) {
    .completo {
      background-color: #0c1f48;
      height: 100%;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .registro {
    margin-top: 15%;
    width: 60%;
    padding: 5%;
    height: 80%;
    background-color: #fff;
   /*display: flex;*/
    margin-bottom: 5%;
  }
  
    .cabecera{
      width: 100%;
      height: 30vh;
      background-color: rgb(21, 155,216);
      display: flex;
    }
  
    .logo {
      width: 30%;
      height: 70%;
      margin: auto;
      display: block;
  }
  
  .form-register {
    width: 60vw;
    height: 70%;
    margin-top: 5%;
    background: #fff;
    font-family: "Saira-ExtraBold";
    color: #000;
  }
  
  .form-register h4 {
    font-family: "Saira-Medium";
    font-size: 32px;
    color: #0c1f48;
    margin-bottom: 0px;
  }
  
  .controls {
    width: 100%;
    background: #fff;
    margin: 12px 0;
    border: 0;
    border-bottom: 1.5px solid #1f53c5;
    font-family: "calibri";
    font-size: 23px;
    color: #000;
  }
  
  .form-register .botons-registro {
    width: 100%;
    background: #1f53c5;
    border: none;
    border-radius: 5px;
    padding: 1%;
    color: white;
    margin: 10px 0 0 0;
    font-family: "Saira-Medium";
    font-size: 23px;
    transition: all 0.3s;
  }
  .form-register .botons-registro:hover{
    background-color: rgb(182, 182, 182);
    color: black;
  }
  
  .botRegistro-Facebook {
    width: 45%;
    background: #1f53c5;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin: 15px 0 0 0;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .botRegistro-Google {
    width: 45%;
    background: #fff;
    border: 1px #1f53c5 solid;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 0 0 0;
    font-family: "Saira-Medium";
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .fuente-google{
    color: #1f53c5;
  }
  
  
  
  }
  
  /* ------------------------------------------------------------ */
  /* ------------------------------------------------------------ */
  /* ------------------------------------------------------------ */
  
  @media (min-width: 1280px) {
  
    .completo {
      background-color: #0c1f48;
      height: 130vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
    .registro {
      display: flex;
      flex-direction: row;
      padding: 0;
      height: 50vh;
      width: 70vw;
    }
  
    .cabecera {
      width: 60%;
      height: 191%;
      background-color: rgb(21, 155,216);
      display: flex;
  }
  
  .logo {
    width: 60%;
    height: 40%;
    margin: auto;
    display: block;
  }
  
  .controls {
    width: 100%;
    background: #fff;
   /* margin: 15px 0 5px 0;*/
    border: 0;
    border-bottom: 1.5px solid #1f53c5;
    font-family: "calibri";
    font-size: 20px;
    color: #000;
  }
  
  .form-register {
    width: 65%;
    height: 170%;
    padding: 5%;
    margin: 0;
    background: #fff;
    font-family: "Saira-ExtraBold";
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .termino{
    margin-top: 5px;
    font-size: 15px;
  }
  .form-register .botons-registro {
    width: 100%;
    background: #1f53c5;
    border: none;
    border-radius: 5px;
    padding: 1%;
    color: white;
    /*margin: 10px 0 0 0;*/
    font-family: "Saira-Medium";
    font-size: 23px;
    transition: all 0.3s;
  }
  .form-register .botons-registro:hover{
    background-color: rgb(182, 182, 182);
    color: black;
  }
  
  .botonesRS{
    display: flex;
    justify-content: space-between;
    /* margin-top: 5px; */
    }
  
  }