* {
    margin: 0px;
    padding: 0px;
}

/* body{
    background-color: red;
} */

/* ---------------------------------------------------------- */

@media (min-width: 320px) {

    .presentacion {
        width: 100vw;
        height: 315px;
        background: url("/img/JPEG/Marcas/Ferrari/LaFerrari/wallpaper_movil-min.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 60px;
    }
    .textoAuto p{
        color: black;
        font-weight: bold;
        margin-bottom: 10px;
    }


    .nombreMarca {
        width: 100vw;
        height: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        border-bottom: 1px #c1c1c1 solid
    }

    .modeloAuto {
        max-width: 30%;
        height: auto;
        margin-left: 10px;
    }

    .galeria {
        width: 100vw;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

.detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.descripcion{
    width: 70%;
    display: flex;
}


    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 33.33vw;
        height: 105px;
    }

    .img1 {
        background: url("/img/JPEG/Marcas/Ferrari/LaFerrari/1-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 54%;
    }

    .img2 {
        background: url("img/JPEG/Marcas/Ferrari/LaFerrari/2-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 33%;
    }

    .img3 {
        background: url("/img/JPEG/Marcas/Ferrari/LaFerrari/3-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 80%;
    }

    .img4 {
        background: url("/img/JPEG/Marcas/Ferrari/LaFerrari/4-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40%;
    }

    .img5 {
        background: url("/img/JPEG/Marcas/Ferrari/LaFerrari/5-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 43%;
    }

    .img6 {
        background: url("/img/JPEG/Marcas/Ferrari/LaFerrari/6-min.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 60%;
    }

    /* ----------------------------------------- */
 
  .carrusel{
    margin: 5% auto;
    background-color: white;
    width: 90vw;
    /* padding: 0% 10%; */
  }
  .carrusel li{
      margin-top: 5px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 100%;
    height: 170px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 10px;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
    text-align: center;
    margin: 15px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
.video {
    margin: 10px 0px;
    width: 100%;
    height: 300px;
  }

  iframe {
    width: 100%;
    height: 300 px;
    margin: 10px 0px;
    text-align: center;
  }
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

@media (min-width: 768px) {

    .presentacion {
        width: 100vw;
        height: 60vh;
        background: url("/img/JPEG/Marcas/Ferrari/LaFerrari/wallpaper_movil-min.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 60px;
    }



.descripcion{
    width: 50vw;
}

.imagenAuto {
    width: 45vw;
    height: 20vh;
    padding: 2% 3%;
    margin-left: 5px;
    /* background-color: red; */
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-image: url('/img/PNG/Marcas/Ferrari/LaFerrari/LaFerrari.png');
}

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 33.33vw;
        height: 50%;
    }

    .detalle {
        width: 100vw;
        height: 25vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 0;
    }

    .textoAuto{
        padding: 0% 10%;
    }
    .textoAuto p{
        color: black;
        font-weight: bold;
    }


    .carrusel{
        width: 50%;
        margin: 0% 2%;
    }
    


/* ------------------------ */

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 170px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img {
    width: 50%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    right: 25%;

}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
  opacity: 1;
  /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
  text-align: center;
  margin: 15px;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;


}
.video {
    margin: 10px 0px;
    width: 100%;
    height: 300px;
  }

  iframe {
    width: 100%;
    height: 300 px;
    margin: 10px 0px;
    text-align: center;
  }

}
/* ------------------------------------------ */

@media (min-width: 1280px) {

    .galeria {
        width: 100vw;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .nombreMarca {
        width: 100vw;
        height: 100px;
        background-color: #fff;
        display: flex;
        align-items: center;
        border-bottom: 1px #c1c1c1 solid;
    }
.presentacion {
    width: 100vw;
    height: 125vh;
    background: url("/img/JPEG/Marcas/Ferrari/LaFerrari/wallpaper_movil-min.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 60px;
}



.descripcion{
width: 50vw;
}

.imagenAuto {
width: 45vw;
height: 20vh;
padding: 2% 3%;
margin-left: 5px;
/* background-color: red; */
background-size: 90% 90%;
background-repeat: no-repeat;
background-image: url('/img/PNG/Marcas/Ferrari/LaFerrari/LaFerrari.png');
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    width: 33.33vw;
    height: 50%;
}

.detalle {
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

.textoAuto{
    padding: 0% 10%;
}
.textoAuto p{
    color: black;
    font-weight: bold;
}


.carrusel{
    width: 50%;
    margin: 0% 2%;
}



/* ------------------------ */

ul, li {
padding: 0;
margin: 0;
list-style: none;
}

ul.slider{
position: relative;
width: 100%;
height: 170px;
}

ul.slider li {
position: absolute;
left: 0px;
top: -40px;
opacity: 0;
width: inherit;
height: inherit;
transition: opacity .5s;
background:#fff;
}

ul.slider li img {
width: 50%;
height: auto;
object-fit: cover;
position: absolute;
top: 50%;
right: 25%;

}

ul.slider li:first-child {
opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
opacity: 1;
/*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
text-align: center;
margin: 15px;
}

.menu li {
display: inline-block;
text-align: center;
}

.menu li a {
display: inline-block;
color: white;
text-decoration: none;
background-color: grey;
padding: 10px;
width: 20px;
height: 20px;
font-size: 20px;
border-radius: 100%;


}
.cont-Detalles {
    background-color: #fff;
    height: 70px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.colLogo{
width: 15%;
/* background-color: green; */
margin-left: 20px;
}

.datosDetalles{
    display: flex;
    width: 85%;
    /* background-color: aqua; */
    justify-content: space-evenly;
    align-items: flex-end;
}

.colDetalle {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
    /* background-color: blue; */
}

.estDetalle {
    color: rgb(122, 121, 121);
    font-size: 20px;
}

.dinamDetalle {
    color: #000;
    margin-top: -5px;
    font-weight: bold;
    font-size: 35px;

}
.video {
    margin: 10px 0px;
    width: 100%;
    height: 300px;
  }

  iframe {
    width: 100%;
    height: 300 px;
    margin: 10px 0px;
    text-align: center;
  }
}
