<footer id="footer" class="cuerpo-footer">

    <div class="columna-footer">
      <h3 class="h3-footer">Sobre nosotros</h3>
      <p class="p-footer">365 Wheels es una empresa que se dedica
        a la compra y venta de autos nuevos y usados,
        trabajamos con todas las marcas y modelos.
        ¡Si lo pide, 365 Wheels lo consigue!</p>
      <div class="contacto">
        <h3 class="h3-footer">Contacto</h3>
        <div class="contacto-icono">
          <img class="icono-texto" src="/img/PNG/Iconos/telefonoB.png" alt="icono youtube">
         <a href="tel:+598989898"><p class="texto-icono">(+598) 98 989 898</p></a>
        </div>
        <div class="contacto-icono">
          <img class="icono-texto" src="/img/PNG/Iconos/emailB.png" alt="icono youtube">
          <a href="mailto:info@365wheels.com"><p class="texto-icono">info@365wheels.com</p></a>
        </div>
      </div>
    </div>
  
    <div class="columna-footer">
      <div class="servicio-footer">
        <h3>Nuestros servicios</h3>
        <ul>
          <li>Venta de vehículos 0km</li>
          <li>Compra y venta de vehículos usados</li>
          <li>Cotizaciones de vehículos</li>
          <li>Importación de vehículos de alta gama</li>
        </ul>
      </div>
      <div class="suscribase">
        <h3 class="h3-footer">Suscribase</h3>
        <input class="input-footer" type="text" name='Email' id="Email" placeholder="Ingrese su Email">
        <input class="boton-footer" type="submit" value="Suscribirse">
      </div>
      <div class="rsociales-footer">
        <img class="icono-footer" src="/img/PNG/Iconos/facebookB.png" alt="icono facebook">
        <img class="icono-footer" src="/img/PNG/Iconos/instagramB.png" alt="icono instagram">
        <img class="icono-footer" src="/img/PNG/Iconos/youtubeB.png" alt="icono youtube">
      </div>
    </div>
  
  </footer>
  