<header class="main-header-header"> 
    <div class="conteiner-header">
      <nav id="site-nav" class="site-nav">
        
        <li>
          <a href="/"><i class="fas fa-home site-nav--icon"></i>Inicio</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-search site-nav--icon"></i>Buscar</a>
        </li>
        <li>
          <a href="/productos"><i class="fas fa-list site-nav--icon"></i>Catálogo</a>
        </li>
        <li>
          <a href="#footer"><i class="fa fa-envelope site-nav--icon"></i>Contacto</a>
        </li>
        <% if (locals.isLogged) { %>
        <li>
          <a href="/usuarios/perfil"><i class="fa fa-envelope site-nav--icon"></i>Perfil</a>
        </li>
        <li>
          <a href="/usuarios/logout"><i class="fa fa-envelope site-nav--icon"></i>Logout</a>
        </li>
        <% } else { %>
        <li>
          <a href="/usuarios/registrar"><i class="far fa-address-book site-nav--icon"></i>Registrar</a>
        </li>
        <li>
          <a href="/usuarios/ingresar"><i class="fas fa-sign-in-alt site-nav--icon"></i>Login</a>
        </li>
        <% } %>
      </nav>
      <div id="menu-toggle" class="menu-toggle" onClick="cambiarClase()">
        <div class="hamburger"></div>
      </div>
      <div class="cont2"><a href="/"><img class="logo-navbar" src="/img/SVG/365Wheels.svg"
            alt="Logo 365Wheels" /></a>
      </div>
      
      <div class="cont3"><a href="/productos/carrito"><img><i class="fas fa-shopping-cart fa-lg"></i></img></a> </div>
    </div>
  </header> 
